@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    /*font-family: Times,Times New Roman,serif;*/
    background: url("../img/back.jpg") repeat center ;
    background-repeat:repeat;
    margin: 0 5%;
    font-family:'Roboto';
    font-weight:500;
}



h1.marca{
    margin: 2% 0;
    color: rgba(179, 97, 227, 0.51);
    border-left: solid;
    border-width: 4px;
    border-color: rgba(179, 97, 227, 0.51);
    font-size: 300%;
}


.container_img img{
    max-width: 100%;

}
div.container_img{
    display: inline-block;
    position: relative;
}
div#texto{
    position: absolute;
    top: 30%;
    right: 50%;
    font-size: 200%;
    text-align: center;
    color: #a6e1ec;

}

h3#text_calendar{
    font-size: 300%;
}

nav ul{
    /*max-width: 100%;*/
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color:#333333;

    /*width: auto;*/

}
nav ul li{
    float:left;
   
}
nav ul li a{
    display: block;
    color:white;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #DB7093;
}

p{
    text-align:left;  
}
section #info_meio{
    max-width: 100%;

}
div#info{
    display: inline-block;
    width: 50%;

}

figure.vitrine{
    display: inline-block;
    margin: 0 auto;
    margin-top: 2%;
}
figure img#img_um{
    width:50%;
}

@media screen and (max-width: 767px){
    div#texto{
        top: 5%;
        right: 40%;
        font-size: 150%;
    }
    h3#text_calendar {
        font-size: 00%;
    }
}

@media screen and (max-width: 576px){

    h1.marca{
        width: 70%;
        font-size: 150%;
    }
    div#menu_topo{
        display: inline-block;
        vertical-align: middle;
        width: 49%;
        height: 70px;
    }
    div#logo_site{
        display: inline-block;
        vertical-align: middle;
        width: 49%;
        height: 70px;
    }

    div#texto{
        top: 15%;
        right: 40%;
        font-size: 100%;

    }
    h3#text_calendar {
        font-size: 140%;
    }



    header .control-nav {
        position: absolute;
        /**/
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #333;
        border-width: 3px 0;
        z-index: 2; //?
        cursor: pointer;
    }

    header .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #333;
    }

    header .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        border-left: 1px solid #ccc;
        background: #fff;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    #control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #control-nav:checked ~ nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

